@page 
@model IndexModel
@{
    ViewData["Title"] = "ホーム";
}

<div class="text-center">
    <h1 class="display-4">初めてのRazor Pages!</h1>
    <p>このWebサイトは映画のデータベースです</p>
    <a asp-page="Movies/Index">映画リスト</a>
</div>
<a asp-page="Movies/Index">映画リスト</a>
